<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>PaqueteServlet</servlet-name>
        <servlet-class>PaqueteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaqueteServlet</servlet-name>
        <url-pattern>/PaqueteServlet</url-pattern>
    </servlet-mapping>
</web-app>